<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.stat8.rypradio"
    version   = "2.0.0">
<gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
<gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
<gap:plugin name="nl.x-services.plugins.backgroundaudio" version="1.0.0" />
<gap:plugin name="com.hutchind.cordova.plugins.streamingmedia" version="0.1.3" />
<preference name="webviewbounce" value="false" />

<preference name="deployment-target" value="7.0" />
<preference name="target-device" value="handset" />



<name>RYPRadio</name>

<access origin="*" />
<description>

</description>

<author href="https://www.stat8.net" email="support@stat8.net">
Station Eight Technologies
</author>









</widget>
