<!DOCTYPE html>
<html>
<head>RYP Radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="theme.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="cordova.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    
</head>


<body ng-app="RYPApp">
      
    
   
    
    
    <div data-role="page" ng-controller="MainController" >
    <div data-role="header" data-theme="a" data-add-back-btn="true">
       <h1>RYP Radio</h1>
         </div>
        <div ng-repeat="info in rider">
	          
         <ul data-role="listview"  data-inset="false" data-theme="a" >
	         
	   <li><a href="{{info.link}}" ng-click="window.open">{{info.name}}</a></li>
	         
         </ul>
        </div>
        
        
    </div>
    
    
  <!--  listHtml += "<li><a href='#' onclick=window.open('" + value.link + "','_blank','location=yes,toolbar=yes,allowInlineMediaPlayback=yes')><img class='ui-circle ui-mini ui-padding' src='"+ value.image +"'><h2>" + value.name +  "</h2><p><strong>"+ value.title + "</strong></p><p><strong>" + value.date +"</strong></p></a></li>";-->
  
    
    <script src="app.js"></script>
     <script src="MainController.js"></script>
     
     <script src="service.js"></script>
    
   
    
    
    
    
     
   
    
    
</body>
</html>